name: Deploy to GitHub Pages

permissions:
  contents: write
  pages: write

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3  # Ensure the repo is checked out first

      # Run your local action file
      - name: Run local Quarto GHP Action
        uses: ./quarto-ghp
